{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}My Blog{% endblock %}{% load blog_tags %}

{% block content %}
  <h1>My Blog</h1>
  <!--TAGS -->
{% if tag %}
  <h2>Posts tagged with "{{ tag.name }}"</h2>
{% endif %}
<p class="tags">
  Tags:
  {% for tag in post.tags.all %}
  <a href="{% url "blog:post_list_by_tag" tag.slug %}">
  {{ tag.name }}
  </a>
  {% if not forloop.last %}, {% endif %}
  {% endfor %}
  </p>
<!--TAGS -->
  {% for post in posts %}
    <h2>
      <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
        <p class="tags">Tags: {{ post.tags.all|join:", " }}</p>
      </a>
    </h2>
    <p class="date">
      Published {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|markdown|truncatewords_html:30 }}
    <!--{{ post.body|truncatewords:30|linebreaks }} replaced by markdown  -->
  {% endfor %}
  <!--{% include "pagination.html" with page=page_obj %}-->
  {% include "pagination.html" with page=posts %}
  
{% endblock %}